* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter';
  background-color: aliceblue;
}

nav {
  height: 70px;
  display: flex;
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

nav p{
  margin: 10px;
  font-weight: bold;
  font-size: x-large;
  color: #47a7ff;
}
.nav--logo {
  max-height: 50px;
  fill: #47a7ff;
}

.content {
  padding: 1rem;
}

 .map-container{
  padding: 1rem;
  height: 700px;
  overflow: hidden;
} 